.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.text-container {
  padding: 40px;
}
.home-title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.description {
  font-family: Roboto;
  font-size: 15px;
  color: white;
}
.find-job-btn {
  font-family: Roboto;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 7px 10px;
  background-color: #4f46e5;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
